* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* navbar */
#navbar {
  background-color: #333;
  color: white;
  overflow: auto;
}

.nav-container {
  margin: auto;
  max-width: 1200px;
  overflow: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  height: 8vh;
  align-items: center;
  background: #333;
}

.nav-ul {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.nav-ul li {
  list-style-type: none;
}

.nav-ul li a {
  text-decoration: none;
  color: white;
}
/* hamburger menu */
.burger div {
  width: 23px;
  height: 2px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
}

.burger {
  display: none;
}
