/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* main styling */
#nav-bar nav {
  background: #333;
  height: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#nav-bar .nav-title {
  padding-left: 1rem;
  color: white;
  cursor: pointer;
}

#nav-bar li {
  list-style-type: none;
}

#nav-bar .nav-links {
  text-decoration: none;
  color: white;
}

#nav-bar ul {
  display: flex;
}

#nav-bar .nav-links {
  padding: 0rem 2rem;
  font-size: 1.2rem;
  font-weight: 500;
  transition: all 0.3s ease 0s;
}

#nav-bar .nav-links:hover {
  color: #888;
}

#nav-bar .nav-btn {
  color: white;
  background: rgba(0, 136, 169, 1);
  padding: 9px 25px;
  margin-right: 1rem;
  border-radius: 50px;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  transition: all 0.3s ease 0s;
}

#nav-bar .nav-btn:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

/* Mobile Nav */

.menu {
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #333;
  overflow-x: hidden;
  transition: width 0.5s ease 0s;
}

.overlay--active {
  width: 100%;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: color 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
  color: #888;
}
.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #edf0f1;
}

.overlay a {
  text-decoration: none;
  color: rgb(230, 230, 230);
}
