* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* navbar */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #333;
}

.logo {
  color: rgb(240, 240, 240);
  font-size: 20px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: rgb(240, 240, 240);
  text-decoration: none;
}

.burger div {
  width: 23px;
  height: 2px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
}
.burger {
  display: none;
}
