/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* main styling */
#nav-bar nav {
  background: #333;
  height: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#nav-bar .nav-title {
  padding-right: 2rem;
  color: white;
  cursor: pointer;
}

#nav-bar li {
  list-style-type: none;
}

#nav-bar .nav-links {
  text-decoration: none;
  color: white;
}

#nav-bar ul {
  display: flex;
}

#nav-bar .nav-links {
  padding: 0rem 2rem;
  font-size: 1.2rem;
  font-weight: 500;
  transition: all 0.3s ease 0s;
}

#nav-bar .nav-links:hover {
  color: #888;
}

#nav-bar .nav-btn {
  color: white;
  background: rgba(0, 136, 169, 1);
  padding: 9px 25px;
  margin-left: 1rem;
  border-radius: 50px;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  transition: all 0.3s ease 0s;
}

#nav-bar .nav-btn:hover {
  background-color: rgba(0, 136, 169, 0.8);
}
