body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #222;
}

/* button styling */
.hover {
  text-decoration: none;
  color: #fff;
  background: #f1c40f;
  font-family: sans-serif;
  font-size: 2.9rem;
  border: 2px solid #f1c40f;
  padding: 2.5rem 5rem;
  position: relative;
  transition: all 0.5s;
}

.hover:before {
  content: "button";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2ce771;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateX(270deg);
  transform-origin: top;
  transition: all 0.5s;
}

.hover::after {
  content: "button";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: crimson;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateX(270deg);
  transform-origin: top;
  transition: all 0.5s;
  transition-delay: 0.25s;
}

.hover:hover:before,
.hover:hover::after {
  transform: rotateX(0deg);
}
